<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tp Connect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/flights" routerLinkActive="active">Flight List</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" routerLink="/addFlight" routerLinkActive="active">Add Flights</a>
          </li>
          <li class="nav-item" *ngIf="!this.isManager">
            <a class="nav-link" routerLink="/users" routerLinkActive="active">User List</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/addUser" routerLinkActive="active">Add User</a>
          </li> -->
        <li class="nav-item" *ngIf="!this.isManager">
          <a class="nav-link" routerLink="/roles" routerLinkActive="active">Role List</a>
        </li>
        <li class="nav-item" *ngIf="!this.isManager">
            <a class="nav-link" routerLink="/addRole" routerLinkActive="active">Add Role</a>
          </li>
      </ul>
      <ul class="navbar-nav">
          <a class="nav-link" *ngIf="!loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
          <span *ngIf="!this.isManager" >
            <a class="nav-link" *ngIf="!loggedIn()" routerLink="/addUser" routerLinkActive="active">Register</a>
          </span>
         
          <a class="nav-link" style="cursor:pointer" *ngIf="loggedIn()" (click)="logoutUser()">Logout</a>        
      </ul>
    </div>
  </nav>    
  <div class="container">
    <router-outlet></router-outlet>            
  </div>





<div class="text-center mt-4">
    <p>
        <a href="" target="_top">TP Connect Angular Test</a>
    </p>
    <p>
        <a href="https://google.com" target="_top">tpconnecttest.com</a>
    </p>
</div> 